
    
            * {
               margin: 0;
               padding: 0;
               } 
           
               #struture{
               width:100%;
               /* border:1px solid green;  */
               height:950px;
               /* background-color: #278FEA */
               background-image:url('art/back1.png')
               }
               
               #navigate{
                
                   padding:10px; 
                   /* border:1px solid#278FEA; */
                   text-align:center;
                   font-size: 30px;
                   font-weight: 900;
                   font-family: 'Times New Roman', Times, serif;
                   color:#6C7592
               }
               #content
               {
                   float:left;
                   width:60%;
                   height:880px;
                   /* border:1px solid #278FEA; */
                   /* border:10px solid green;  */
                   text-align:center;
                   font-size: 40px;
                   margin-left:10px;
                   font-family: 'Times New Roman', Times, serif;
                   color: #6C7592
               }
               h3{
                   font-size: 25px;
                  font-family: 'Times New Roman', Times, serif;
                  color: #6C7592
                }
                
                h2{

                   font-size: 35px;
                  font-family: 'Times New Roman', Times, serif;
                  color: #6C7592
                }
               
               #topright
               {
                   float:right;
                   margin-right:10px;
                   width:35%;
                   /* border:1px #278FEA; */
                   height:800px;
                   /* border:10px solid green;  */
               }
               /* #downleft{
                  float:left;
                   margin-left:10px;
                   width:60%;
                   border:1px #278FEA;
                   height:10px;
                   border:10px solid green; 

               } */
               img {
                        border-radius: 50%;
                        width:530px;
                        height:430px;

                    }
             span{

                  font-size: 20px;
                  font-family: 'Times New Roman', Times, serif;
                  color: #05091adc
             }
               ul li {
                           list-style: none;
                       }
                       
                       .music {
                           width: 500px;
                           height: 40px;
                           margin: 20px auto;
                           line-height: 40px;
                       }
                       
                       .musicL {
                           float: left;
                       }
                       
                       .progress {
                           float: left;
                           font-size: 15px;
                           width: 300px;
                           height: 40px;
                           margin-left: 10px;
                       }
                       
                       .load {
                           display: inline-block;
                           width: 200px;
                           height: 5px;
                           background: #1279D0;
                           cursor: pointer;
                           position: relative;
                           top: -2px;
                       }
                       .circle {
                           width: 0px;
                           height: 5px;
                           background: #7AC1F7;
                           position: relative;
                           left: 0;
                           top: 0;
                       }
                       
                       .round {
                           position: absolute;
                           width: 10px;
                           height: 10px;
                           border-radius: 50%;
                           background: #7AC1F7;
                           left: 0px;
                           top: -3px;
                       }
                       
                       .music_list {
                           width: 500px;
                           /* background: #DDDDDD; */
                           margin: 0 auto;
                       }
                       
                       .music_list li {
                           height: 40px;
                           border-bottom: 1px solid #7AC1F7;
                           line-height: 40px;
                           cursor: pointer;
                            text-align:left;
                            font-size: 20px;
                            margin-left:10px;
                            font-family: 'Times New Roman', Times, serif;
                            color: #6C7592
                       }
                       
                       .music_list li:hover {
                           background:#7AC1F7;
                       }
                    
                    
                     .btn{
                        background-color:transparent;
                        border: none;
                        color: white;
                        padding: 10px 20px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 23px;
                        margin: 4px 2px;
                        cursor: pointer;
                     
                     }
                     .btn:hover {
                       
                        color:  #7AC1F7;
                     }

                        .btnTotal{
                        background-color: hsl(226, 87%, 56%); /* Green */
                        border: none;
                        color: white;
                        padding: 16px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 4px 2px;
                        border-radius: 12px;
                        transition-duration: 0.4s;
                        cursor: pointer;
                    }
                    .btnTotal:hover {
                        background-color:  #7AC1F7;
                        color: white;
                    }
                    .btnTotal2{
                        background-color:#CB9B2D;
                        border: none;
                        color: white;
                        padding: 16px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 4px 2px;
                        border-radius: 12px;
                        transition-duration: 0.4s;
                        cursor: pointer;
                    }
                    .btnTotal2:hover {
                        background-color:  #7AC1F7;
                        color: white;
                    }
                    
